<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mariadb://practice.cnybvnomlu5g.us-east-2.rds.amazonaws.com:3306/Project1?useSSL=false</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.connection.password">50m00cVZHNBg</property>

        <!-- Connection Pool Size (built-in) -->
        <property name="hibernate.connection.pool.size">1</property>

        <!-- show all generate SQL query -->
        <property name="show_sql">true</property>

        <!-- manage automatic database creation -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <!-- Mention here all the model classes along with their package name -->
        <mapping class="Models.Trains.Train"/>
        <mapping class="Models.Users.User"/>
        <mapping class="Models.Ticket"/>
        <mapping class="Models.Users.Role"/>
        <mapping class="Models.Users.UserInfo"/>
    </session-factory>
</hibernate-configuration>
