<?xml version="1.0" encoding="UTF-8"?>
<!--web.xml is your deployment descriptor
        this is how tomcat gathers information about your project, such as welcome files,
            available servlets, how to handle errors and exceptions, and other various
            configurations you may want tomcat to know about.
    It belongs in src/main/webapp/WEB-INF/ directory
-->
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">

    <!-- Listener -->
    <listener>
        <listener-class>Utils.DependencyLoaderListener</listener-class>
    </listener>

    <!-- CORS Filter -->
    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>Utils.CORSFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--This tells tomcat where to find the servlet and what name to register it as. We can use
            the name of the servlet later to reference this instance.
            -->
    <!-- Ping Servlet -->
    <servlet>
        <servlet-name>pingServlet</servlet-name>
        <servlet-class>Servlets.Authentication.PingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pingServlet</servlet-name>
        <url-pattern>/ping</url-pattern>
    </servlet-mapping>

    <!-- User Servlets -->
    <!-- Get All UserInfo -->
    <servlet>
        <servlet-name>userInfoServlet</servlet-name>
        <servlet-class>Servlets.UserInfo.UserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userInfoServlet</servlet-name>
        <url-pattern>/userinfo/</url-pattern>
    </servlet-mapping>
    
    <!-- Get All Users -->
    <servlet>
        <servlet-name>usersServlet</servlet-name>
        <servlet-class>Servlets.Users.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>usersServlet</servlet-name>
        <url-pattern>/users/</url-pattern>
    </servlet-mapping>

    <!-- Get by Username -->
    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>Servlets.Users.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/users/param</url-pattern>
    </servlet-mapping>

    <!-- Get By ID -->
    <servlet>
        <servlet-name>userIDServlet</servlet-name>
        <servlet-class>Servlets.Users.UserIDServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userIDServlet</servlet-name>
        <url-pattern>/users/id</url-pattern>
    </servlet-mapping>

    <!-- Train Servlet here -->
    <servlet>
        <servlet-name>trainServlet</servlet-name>
        <servlet-class>Servlets.Trains.TrainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>trainServlet</servlet-name>
        <url-pattern>/trains/*</url-pattern>
    </servlet-mapping>

    <!-- Login Servlet -->
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Servlets.Authentication.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
</web-app>